.trivia {
    display: inline-block;
}

.trivia-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 500px;
}

.trivia-question {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 25px;
}

.trivia-answer {
    border: 1px solid grey;
    border-radius: 30px;
    font-size: large;
    height: 35px;
    width: 250px;
}

.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}

.pt-progress-bar {
    display: inline-block;
    margin-bottom: 20px;
    width: 200px;
}